

body{
    background-image:linear-gradient(0deg,#1a1446 26.04166567325592%,#992560 ) ; 
      background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    
    
    }
  .contenedor{
      width: 100% ;
    height: auto;  
      margin: auto;
    display: block;
    position: static;
    margin-bottom: 10%; 


    
     }
 .header {
  background-color: #2120209d;
  color: #fff;
  padding: 20px;
}
      .header h1{ 
      font-family: Arial;
      font-size: xx-large;
      margin-left: 5%;
      color: #fff;
      display:inline;
      letter-spacing: 2px;
      position:static;
      text-decoration:solid;
      
      }
  .logotipo {
    height: auto;
    width: auto; 
    position:relative; 
    left:55%;
    margin-top: 2%;
    padding-top: 2%; 
    text-align: center;
    display: inline;
    
  }
   .logotipo img{
    max-width: 3%;
    height: auto;
    border-radius: 20%;
    display: inline-block;
    position: static;
  }
  .logotipo h3{ 
    text-align:start;
   color: #ffffff;
   font-size:x-large ;
   font-family: cursive;
   left: 59px;
   top: -10%;
   display: inline;
   position:static; 
   text-decoration-style: double;
  }
    .caja1{
   padding: 3%;
   margin: 2%;
   width: auto;
   height: auto;
   display: block;
   position:static;
  
  
    }
  a{ 
       text-decoration: none ;    
        color: #fff;
        font-family: Arial, Helvetica, sans-serif ; 
  }  
  
  
  
  .caja1 form{ 
     
     width: auto;
     height: auto ;
     border: 8px ;
     margin: 8px;
     font-size: x-large;
     color : #fff; 
     display: block;
     position: static;
  
     
     
  }
  input{
      font-family:  Arial;
  
      display:block;
      width: 200px;
      height: 40px ;
      border-radius: 10px ;
      margin: 0px;
      background-color: rgba(202, 202, 211, 0.37); 
      font-size: xx-large;
      color : #fff; 
      position: static;
  
  
  } 
  label{ 
      font-family:  Arial;
  }
  .formulario{ 
      font-family:  Arial;
      position:static;
      width: auto;
      height: auto;
      display: block; 
      padding-left: 35%;
     margin-left: 5%;
     padding-right: 30%;
   
    
  }
  
  .grid {  
      font-family:  Arial;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px; 
      color :#fff;  
      display: inline; 
      border-radius: 10px ; 
      margin-left: 23%;
    
    
    }
    
    .item {    
      font-family:  Arial;
      align-content: space-evenly;
      text-align: center;
      align-content: center;
      background-color: #9f9a9a4c;
      padding: 10px;   
      height: 30px ;
      width: 200px;
      display: inline-flex; 
      border-radius: 10px;
      
    }
    
    a{  
      
       text-decoration: none ;
       color: #fff;
       font-family: Arial, Helvetica, sans-serif ;
       font-family:  Arial;
      
    } 
    form button{
  
  background-color: #8680802e;
  font-size: medium;
  font-family: Arial;
  color: #fff;
  margin-left:15% ;
  padding-left:2% ;
  margin-right: 30%; 
  display: block;
  position: static;
  border-radius:20px ;
  
    }
    .i1{ 
    
      width: 300px;
      height:  300px;
    
      border-radius: 20%;
    } 
  
    
.mensaje p  {
color: #fff;
font-family: Arial ;
font-size: xx-large;

}  